/*navbar-btn*/
.button-one .nav-link {
  font-size: 10px;
  font-weight: lighter;
}
.navbar-container {
  margin-top: 2rem;
}

.button-one .box {
  width: 80px;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 2px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.button-one .box:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.button-one .box:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.button-one .box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.button-one .box:hover:before {
  border-color: #f7db81;
  height: 50%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.button-one .box:hover:after {
  border-color: #c57104;
  height: 50%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.button-one {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

/*start of first-page*/

.first-main {
  position: relative;
  color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;
}
.first-main .img-fluid {
  width: fit-content;

  height: fit-content;
  margin-top: 0.5rem;
}
.first-main .card-title {
  margin-top: 2rem;
  font-weight: bolder;
  text-shadow: 5px 10px #302f2f;
}
.first-main .button-two {
  margin-top: 0.8rem;
}

.first-main p {
  color: #000000;
}
.first-main .actual-text {
  font-size: 12.5px;
}
.first-main .hover-text {
  font-size: 12.5px;
}
.first-main .box {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(25px);
  border-radius: 0.7rem;
  transition: all ease 0.5s;
}

.first-main .box:hover {
  box-shadow: 0px 0px 30px 10px #ffbb763f;
  border: 3px solid rgba(255, 255, 255, 0.454);
}

/* === removing default button style ===*/
.button-two {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button-two {
  --border-right: 0.5px;
  --text-stroke-color: rgb(0, 0, 0);
  --animation-color: #14ebd9;
  --fs-size: 0.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: var(--fs-size);
  margin-left: 0.2rem;
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/*-------------------------------------- this is the text, when you hover on button------------------ */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.3s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button-two:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--animation-color));
}

/*----------------------------------start second-page-----------------------------------*/
.second-main {
  margin-top: 6rem;
  font-family: sans-serif;
  text-align: justify;
  margin-left: 2rem;
  margin-right: 2rem;
}
.second-main .card-header {
  color: #ffffff;
}

.second-main #secondmain-cardbody {
  margin-right: 20%;
}
.second-main p {
  font-size: 10px;
}
.second-main #secondmain-image-two {
  width: 80%;
  margin-left: 10%;
}
.secondmain-about {
  color: #ffffff;
  margin-left: 0%;
  margin-right: 0%;
}
/*---------------------------------------end second page----------------------------------------*/

/*-----------------------------(third main///full-stack container)-------start---------------------*/
#second-row #html-image {
  width: 100%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4500;
}
#second-row .html-text {
  width: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#second-row #css-image {
  width: 100%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3333fb;
}
#second-row .css-text {
  width: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#second-row #js-image {
  width: 100%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff00;
}
#second-row .js-text {
  width: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#second-row #php-image {
  width: 100%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
#second-row .php-text {
  width: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fullstack-title {
  font-size: 12px;
}

/*------------------------------(second main///full-stack container)---------end-------------------*/

/*------------------------------------second main///framework------ start----------------------*/

#framework {
  font-size: 12px;
  margin-top: 1rem;
}
#second-row1 #bootstrap-image {
  width: 100%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8a2be2;
}
#second-row1 .bootstrap-text {
  width: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#second-row1 #reactjs-image {
  width: 100%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0000ff;
}
#second-row1 .reactjs-text {
  width: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------------------------------------end Third page--------------------------------------*/

/*------------------------------------fourth page----------------------------------*/
.fourth-main {
  margin-top: 5rem;
}
.fourth-main #fourthmain-row {
  margin-top: 2rem;
}
.fourth-main #contact-me {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}
.fourth-main #yahoo-image {
  width: 50px;
  margin-left: 40%;
}
.fourth-main #facebook-image {
  width: 50px;
  margin-left: 28%;
}
.fourth-main #google-image {
  width: 50px;
  margin-left: 13%;
}
.fourth-main #yahoo-btn {
  width: 80px;
  margin-left: 20%;
  font-size: 8px;
}
.fourth-main #facebook-btn {
  width: 80px;
  margin-left: 12%;
  font-size: 8px;
}
.fourth-main #google-btn {
  width: 80px;
  margin-left: 5%;
  font-size: 8px;
}

/*yahoo-btn*/

.fourth-main #yahoo-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  background: #ffd401;
  box-shadow: 0px 6px 24px 0px rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border: none;
}

.fourth-main #yahoo-btn:after {
  content: " ";
  width: 0%;
  height: 100%;

  background: #0362e7;
  position: absolute;
  transition: all 0.5s ease-in-out;
  right: 0;
}

.fourth-main #yahoo-btn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.fourth-main #yahoo-btn span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}
.fourth-main #yahoo-btn:hover span {
  color: #ffffff;
  animation: scaleUp 0.3s ease-in-out;
}

.fourth-main #facebook-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #ffd401;

  box-shadow: 0px 6px 24px 0px rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border: none;
}

.fourth-main #facebook-btn:after {
  content: " ";
  width: 0%;
  height: 100%;

  background: #0362e7;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.fourth-main #facebook-btn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.fourth-main #facebook-btn span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}
.fourth-main #facebook-btn:hover span {
  color: #ffffff;
  animation: scaleUp 0.3s ease-in-out;
}

.fourth-main #google-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #ffd401;

  box-shadow: 0px 6px 24px 0px rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border: none;
}

.fourth-main #google-btn:after {
  content: " ";
  width: 0%;
  height: 100%;

  background: #0362e7;
  position: absolute;
  transition: all 0.5s ease-in-out;
  right: 0;
}

.fourth-main #google-btn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.fourth-main #google-btn span {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  color: #000000;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}
.fourth-main #google-btn:hover span {
  color: #ffffff;
  animation: scaleUp 0.3s ease-in-out;
}
.card-footer {
  margin-top: 2rem;
}
/* top-line*/
.mark {
  margin-top: 2rem;
}
.comment-section .form-floating {
  margin-left: 5%;
}

/*desktop*/
@media (min-width: 1200px) {
  .button-one .nav-link {
    font-size: 15px;
  }
  .navbar-container {
    margin-top: 5rem;
    margin-left: 1%;
  }
  /* buttom-line*/
  .mark {
    margin-top: 2rem;
  }

  .button-one .box {
    width: 100px;
    height: auto;
    float: left;
    transition: 0.5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 2px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }

  .button-one .box:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }

  .button-one .box:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }

  .button-one .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .button-one .box:hover:before {
    border-color: #f7db81;
    height: 50%;

    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.3s;
  }

  .button-one .box:hover:after {
    border-color: #c57104;
    height: 50%;

    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.5s;
  }

  .button-one {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }

  /*start of first-page*/
  .first-main {
    position: relative;
    color: #ffffff;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-top: 0rem;
  }
  .first-main .img-fluid {
    width: 85%;
    height: fit-content;
    margin-top: 0.5rem;
    margin-left: 0.7rem;
  }
  .first-main .card-title {
    font-size: 100px;
    margin-left: 10%;
    font-weight: bolder;
    text-shadow: 5px 10px #302f2f;
  }

  .first-main .button-two {
    margin-left: 70%;
    height: auto;
    font-size: 15px;
  }

  .first-main .actual-text {
    font-size: 15px;
  }
  .first-main .hover-text {
    font-size: 15px;
  }
  .first-main .first-main p {
    color: #000000;
  }
  .first-main .box {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(25px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
  }

  .first-main .box:hover {
    box-shadow: 0px 0px 30px 10px #ffbb763f;
    border: 3px solid rgba(255, 255, 255, 0.454);
  }

  /* === removing default button style ===*/
  .button-two {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }

  /* button styling */
  .button-two {
    --border-right: 2px;
    --text-stroke-color: rgb(0, 0, 0);
    --animation-color: #f2f700;
    --fs-size: 1.5rem;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: var(--fs-size);
    margin-left: 5rem;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button-two:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--animation-color));
  }

  /*second-page*/
  .second-main {
    margin-top: 10rem;
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
    text-align: justify;
  }
  .second-main .card-header {
    color: #ffffff;
  }
  .second-main .container {
    font-size: 15px;
  }
  .second-main #secondmain-cardbody {
    margin-right: 50%;
  }
  .second-main #secondmain-image-two {
    width: 350px;
    margin-left: 25%;
  }
  .secondmain-about {
    color: #ffffff;
    margin-left: 0%;
    margin-right: 0%;
  }
  .second-main p {
    font-size: 17px;
  }
  /*Third page*/
  .third-main {
    margin-left: 12rem;
    margin-right: 12rem;
    margin-top: 0;
    margin-top: 0;
  }
  .third-main .skills {
    color: #ffffff;
    font-size: 60px;
    padding: 1rem;
    text-align: center;
  }

  .third-main #html-image {
    width: 80px;
    font-size: 15px;
    margin-left: 20%;
  }
  .third-main #css-image {
    width: 80px;
    font-size: 15px;
  }
  .third-main #js-image {
    width: 80px;
    font-size: 15px;
    margin-left: 40%;
  }
  .third-main #jstext {
    width: 70px;
  }
  .third-main #php-image {
    width: 120px;
    font-size: 15px;
    margin-left: 45%;
    margin-top: 0rem;
  }
  .third-main #bootstrap {
    width: 100px;
    font-size: 15px;
    margin-left: 66%;
  }
  .third-main #reactjs {
    width: 85px;
    font-size: 15px;
    margin-left: 17%;
  }

  /*fourth page*/

  .fourth-main #contact-me {
    font-size: 70px;
    margin-top: 15rem;
  }
  .fourth-main #yahoo-image {
    width: 80px;
    margin-left: 50%;
    margin-top: 5rem;
  }
  .fourth-main #facebook-image {
    width: 80px;
    margin-left: 50%;
    margin-top: 5rem;
  }
  .fourth-main #google-image {
    width: 80px;
    margin-left: 52%;
    margin-top: 5rem;
  }
  .fourth-main #yahoo-btn {
    width: 100px;
    margin-left: 45%;
  }
  .fourth-main #facebook-btn {
    width: 100px;
    margin-left: 48%;
  }

  .fourth-main #google-btn {
    width: 100px;
    margin-left: 50%;
  }
  .fourth-main #fourthmain-row {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  /*card-footer*/

  .card-footer p {
    color: #000000;
    text-align: center;
    margin-top: 15px;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
